## Eixos

In [1]:
import numpy as np
import pandas as pd

In [2]:
file = 'drinks.csv'
drinks = pd.read_csv(file)
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [3]:
drinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe
10,Azerbaijan,21,46,5,1.3,9.654.900,Europe
11,Bahamas,122,176,51,6.3,368.390,North America
12,Bahrain,42,63,7,2.0,1.359.800,Asia
13,Bangladesh,0,0,0,0.0,159.145.000,Asia
14,Barbados,143,173,36,6.3,285.000,North America
15,Belarus,142,373,42,14.4,9.485.300,Europe
16,Belgium,295,84,212,10.5,11.250.659,Europe
17,Belize,263,114,8,6.8,368.310,North America
18,Benin,34,4,13,1.1,10.315.244,Africa
19,Bhutan,23,0,0,0.4,765.650,Asia

In [4]:
# Apagando uma coluna TEMPORARIAMENTE
drinks.drop('continent', axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population
0,Afghanistan,0,0,0,0.0,34.660.000
1,Albania,89,132,54,4.9,2.876.000
2,Algeria,25,0,14,0.7,40.061.000
3,Andorra,245,138,312,12.4,77.281.000
4,Angola,217,57,45,5.9,28.081.000

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [6]:
# Apagando uma linha temporariamente
drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America

Quando <b>referenciamos linhas e colunas</b> com o parâmetro axis:
<ul>
    <li><b>axis 0</b> = linhas</li>
    <li><b>axis 1</b> = colunas</li>
</ul>

In [7]:
# Calculando a média de cada coluna númerica
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [9]:
# Ou podemos fazer explicitando o eixo
drinks.mean(axis=0)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [10]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [11]:
# Calculando a média para cada linha
drinks.mean(axis=1).head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [12]:
# 'index' é um alias para axis 0
drinks.mean(axis='index')

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [14]:
drinks.mean(axis='columns').head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [15]:
file = 'eixos.csv'
eixos = pd.read_csv(file)
eixos.columns

Index(['A', 'B', 'C'], dtype='object')

## Trabalhando com as linhas - axis = 0

### O comportamento padrão da função mean() é o eixo 0 - axis = 0

In [16]:
eixos.mean()

A    10.0
B     5.0
C    10.0
dtype: float64

In [17]:
eixos.mean(axis=0)

A    10.0
B     5.0
C    10.0
dtype: float64

In [18]:
eixos.sum(axis=0)

A    30
B    15
C    30
dtype: int64

## Trabalhando com as colunas

In [19]:
eixos.mean(axis=1)

0     6.666667
1     8.333333
2    10.000000
dtype: float64

In [20]:
eixos.sum(axis=1)

0    20
1    25
2    30
dtype: int64

In [21]:
# Verificando os tipos
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [23]:
A = 'RATO'
A.replace('R','P')

'PATO'

In [24]:
# A coluna population está com 2 pontos, para ser reconhecida como float ou int deveria ter apenas um. 
# Para isso usaremos a função replace para remover os pontos
# Se tentarmos converter direto ainda assim continuará como object
populacao_int = drinks['population'] = drinks.population.str.replace('.','')
populacao_int.head()

0    34660000
1     2876000
2    40061000
3    77281000
4    28081000
Name: population, dtype: object

In [26]:
# Para fazer a alteração precisamos iterar os dados convertendo para int.
inteiros = []

for item in drinks.population:
    a = item.replace('.','')
    b = int(a)
    inteiros.append(b)

In [28]:
inteiros[3]

77281000

In [30]:
type(inteiros[3])

int

In [31]:
drinks['pop_total'] = pd.Series(inteiros)

In [32]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,pop_total
0,Afghanistan,0,0,0,0.0,34660000,Asia,34660000
1,Albania,89,132,54,4.9,2876000,Europe,2876000
2,Algeria,25,0,14,0.7,40061000,Africa,40061000
3,Andorra,245,138,312,12.4,77281000,Europe,77281000
4,Angola,217,57,45,5.9,28081000,Africa,28081000

In [34]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
pop_total                         int64
dtype: object

In [36]:
new_drinks = drinks.drop('population', axis=1)
new_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,pop_total
0,Afghanistan,0,0,0,0.0,Asia,34660000
1,Albania,89,132,54,4.9,Europe,2876000
2,Algeria,25,0,14,0.7,Africa,40061000
3,Andorra,245,138,312,12.4,Europe,77281000
4,Angola,217,57,45,5.9,Africa,28081000

In [44]:
# Alterando o nome da coluna
new_drinks.rename(columns={'pop_total': 'population'}, inplace=True)

In [45]:
new_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
0,Afghanistan,0,0,0,0.0,Asia,34660000
1,Albania,89,132,54,4.9,Europe,2876000
2,Algeria,25,0,14,0.7,Africa,40061000
3,Andorra,245,138,312,12.4,Europe,77281000
4,Angola,217,57,45,5.9,Africa,28081000

In [46]:
new_drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
population                        int64
dtype: object

In [47]:
new_drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population
count,193.000000,193.000000,193.000000,193.000000,1.930000e+02
mean,106.160622,80.994819,49.450777,4.717098,3.849083e+07
std,101.143103,88.284312,79.697598,3.773298,1.396570e+08
min,0.000000,0.000000,0.000000,0.000000,1.190000e+03
25%,20.000000,4.000000,1.000000,1.300000,1.978300e+06
50%,76.000000,56.000000,8.000000,4.200000,8.412000e+06
75%,188.000000,128.000000,59.000000,7.200000,2.803790e+07
max,376.000000,438.000000,370.000000,14.400000,1.372470e+09