## Métodos de Strings

In [1]:
import numpy as np
import pandas as pd

In [2]:
arq = 'Sanduiches.txt'
vendas = pd.read_table(arq)
vendas.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [3]:
# Como utilizamos um método de string normalmente?
'data science'.upper()

'DATA SCIENCE'

## Os métodos de strings no Pandas são acessados via .str

In [6]:
vendas.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

### Procurando sanduíches que contenha frango
#### Para essa tarefa criaremos uma série booleana e aplicaremos ao Dataframe!

In [8]:
vendas.item_name.str.contains('Chicken').head(10)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: item_name, dtype: bool

In [9]:
# Aplicando a série ao dataframe de forma direta
vendas[vendas.item_name.str.contains('Chicken')].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

#### Retirando os colchetes da lista de ingredientes

In [12]:
vendas.choice_description.str.replace('[','').str.replace(']','').head(20)

0                                                   NaN
1                                            Clementine
2                                                 Apple
3                                                   NaN
4     Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5     Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                   NaN
7     Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8     Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9     Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                  NaN
11    Roasted Chili Corn Salsa, Fajita Vegetables, R...
12    Roasted Chili Corn Salsa, Rice, Black Beans, C...
13    Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                  NaN
15                                                  NaN
16    Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17    Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                               Sprite
19    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
Name: choice_description, dtype: object