## Manipulando Índices

In [1]:
import pandas as pd
import numpy as np

In [3]:
file = 'drinks.csv'
drinks = pd.read_csv(file)
drinks.columns = drinks.columns.str.replace(' ', '_')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [4]:
# Qualquer datraframe possui um índice
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [5]:
# As colunas também estão armazenadas em um objeto de índices.
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [6]:
drinks.shape

(193, 7)

In [7]:
file = 'espectadores.txt'
pd.read_csv(file, header=None, sep='|').head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

<b>Os índices são utilizados em geral para três operações:</b>
1. Identificação
2. Seleção (Localizar)
3. Alinhamento

## Identificação

In [10]:
# Na identificação, o índice permanece com cada linha quando filtramos um Dataframe
drinks[drinks.continent=='South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America
52,Ecuador,162,74,3,4.2,16.027.500,South America
72,Guyana,93,302,1,7.1,746.900,South America
132,Paraguay,213,117,74,7.3,7.003.406,South America
133,Peru,163,160,21,6.1,31.151.643,South America
163,Suriname,128,178,7,5.6,534.189,South America
185,Uruguay,115,35,220,6.6,3.415.866,South America
188,Venezuela,333,100,3,7.7,30.620.404,South America

## Localização

In [15]:
# Na seleção podemos trazer uma parte do Dataframe utilizando o índice
# A função loc permite a localização por índice
drinks.loc[6, 'beer_servings']

193

## Alterando índices
### A alteração de índices reflete no Dataframe na forma de agrupamentos ou reshaping

In [17]:
# Alterando o índice para países com a opção inplace, que refletirá no Dataframe ORIGINAL
drinks.set_index('country', inplace=True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [18]:
# Verificando novamente os índices
drinks.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [20]:
# Com essa alteração, países deixou de ser uma coluna
drinks.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [21]:
# Anteriormente tinhamos 193 linhas e 7 colunas.
# Agora temos apenas 6 colunas
drinks.shape

(193, 6)

In [22]:
# Utilizando a função loc mais uma vez para trazer uma parte do Dataframe
drinks.loc['Brazil','beer_servings']

245

In [46]:
drinks.iloc[6]

beer_servings                             193
spirit_servings                            25
wine_servings                             221
total_litres_of_pure_alcohol              8.3
population                         43.085.000
continent                       South America
Name: Argentina, dtype: object

## Nomeando índices

In [23]:
# Podemos nomear os índices, mas essa característica é opcional, porém, recomendado em produção e documentação.
drinks.index.name = None
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [24]:
# Renomeando o índice
drinks.index.name = 'country'
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

## Resetando um índice

In [47]:
drinks.reset_index(inplace=True)
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe

In [26]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

## Métodos de Dataframes em Séries

In [27]:
# Podemos mesclar praticamente todos os métodos dos Datraframes
# Aqui por exemplo, o describe retorna um novo Dataframe

drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [28]:
# Pode ser utilizado pelo método loc.
# Qual a média de cerveja consumida no mundo inteiro
drinks.describe().loc['mean','beer_servings']

106.16062176165804

In [29]:
# Toda série também possui um índice, que é carregado a partir do Dataframe
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [30]:
# Alterando o índice mais uma vez
drinks.set_index('country', inplace=True)

In [31]:
# Verificando uma série do Dataframe
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [32]:
# Um outro exemplo de série retornada é quando utilizamos value_counts()
drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [33]:
# Podemos também ter acesso ao índice de uma série
drinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [34]:
# Acessando os valores da série
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [35]:
# Os elementos de uma série podem ser selecionados utilizando a notação de brackets
drinks.continent.value_counts()['Africa']

53

## Ordenando Séries

In [36]:
# Qualquer série pode ter os seus valores ordenados por valores
drinks.continent.value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [37]:
# Qualquer série pode ter os seus valores ordenados por índices
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

## Alinhamento

In [39]:
# A coluna beer_servings contém a média anual de cerveja consumida por pessoa
drinks.beer_servings.head()

country
Afghanistan      0
Albania         89
Algeria         25
Andorra        245
Angola         217
Name: beer_servings, dtype: int64

In [40]:
# Supondo uma classificação: 0 - 75 = Baixo / 76 - 150 = Média / 151 - ... = Alta
# Vamos criar outra série baseada e ALINHADA à primeira
cons_beer = pd.Series(['Baixo', 'Média', 'Alto'], index=['Afghanistan', 'Albania', 'Andorra'], name='consumo')
cons_beer

Afghanistan    Baixo
Albania        Média
Andorra         Alto
Name: consumo, dtype: object

In [44]:
# Concatene as séries ou Dataframes
pd.concat([drinks, cons_beer], axis=1, sort=True).head(10)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
Afghanistan,0,0,0,0.0,34.660.000,Asia,Baixo
Albania,89,132,54,4.9,2.876.000,Europe,Média
Algeria,25,0,14,0.7,40.061.000,Africa,NaN
Andorra,245,138,312,12.4,77.281.000,Europe,Alto
Angola,217,57,45,5.9,28.081.000,Africa,NaN
Antigua & Barbuda,102,128,45,4.9,86.295,North America,NaN
Argentina,193,25,221,8.3,43.085.000,South America,NaN
Armenia,21,179,11,3.8,2.925.000,Europe,NaN
Australia,261,72,212,10.4,24.013.000,Oceania,NaN
Austria,279,75,191,9.7,8.725.111,Europe,NaN