In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
base = pd.read_csv('hc_house.csv')

In [5]:
base.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122257.0,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47721.0000,-122319.0,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122233.0,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122393.0,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122045.0,1800,7503

In [6]:
base.shape

(21613, 21)

In [7]:
base.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [12]:
train = base.drop(['id','date'], axis=1)

In [13]:
train.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [128]:
X_treino, X_teste, y_treino, y_teste = train_test_split(train.iloc[:, 1:], train.iloc[:,0])

In [129]:
X_treino.shape, X_teste.shape, y_treino.shape, y_teste.shape

((16209, 18), (5404, 18), (16209,), (5404,))

In [130]:
X_treino.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2507,3.0,2.50,2190,3600,2.0,0,0,3,9,2190,0,2003,0,98029,47.5506,-121993.0,2300,3600
14814,3.0,2.50,2760,17377,2.0,0,0,3,9,2760,0,2002,0,98056,47.4929,-122188.0,1940,8504
21431,4.0,3.25,3540,159430,2.0,0,0,3,9,3540,0,2007,0,98014,47.6285,-121899.0,1940,392040
13182,3.0,1.00,970,4800,1.0,0,0,3,6,970,0,1950,0,98112,47.6212,-122298.0,1500,2042
16585,4.0,2.50,2730,4800,1.5,0,0,5,8,2230,500,1909,0,98119,47642.0000,-122358.0,2190,4200

In [131]:
X_teste.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20859,3.0,2.25,1140,1557,3.0,0,0,3,8,1140,0,2007,0,98103,47.6947,-122342.0,1140,1245
16113,4.0,1.75,1770,9375,1.0,0,0,4,7,1170,600,1968,0,98052,47.6935,-122112.0,1540,9375
15180,4.0,3.75,3790,7200,2.0,0,0,3,10,2530,1260,1931,0,98112,47.6264,-122289.0,3250,7200
11505,1.0,1.00,800,16306,1.0,0,0,2,6,680,120,1931,0,98168,47.4916,-122308.0,1270,8666
7647,5.0,3.25,3010,1074218,1.5,0,0,5,8,2010,1000,1931,0,98027,47.4564,-122004.0,2450,68825

In [132]:
y_treino.head()

2507     650000.0
14814    545000.0
21431    800000.0
13182    600000.0
16585    980000.0
Name: price, dtype: float64

In [133]:
X_treino.count()

bedrooms         16207
bathrooms        16209
sqft_living      16209
sqft_lot         16209
floors           16208
waterfront       16209
view             16209
condition        16209
grade            16209
sqft_above       16209
sqft_basement    16209
yr_built         16209
yr_renovated     16209
zipcode          16209
lat              16209
long             16209
sqft_living15    16209
sqft_lot15       16209
dtype: int64

In [134]:
from sklearn import tree

In [135]:
arvore = tree.DecisionTreeClassifier()

In [136]:
y_treino.isnull().sum()

0

In [137]:
X_treino.bedrooms.median()

3.0

In [138]:
media = X_treino.bedrooms.median()
X_treino['bedrooms'] = X_treino.bedrooms.fillna(media)

In [139]:
y_treino.dtypes

dtype('float64')

In [140]:
media1 = X_treino.floors.median()
X_treino['floors'] = X_treino.floors.fillna(media1)

In [142]:
y_treino = y_treino.astype(int)

In [143]:
arvore.fit(X_treino, y_treino)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [147]:
bed = X_teste.bedrooms.median()
X_teste.bedrooms = X_teste.bedrooms.fillna(bed)

In [151]:
resultado = arvore.predict(X_teste)
resultado

array([    401000,     495000, 1305000000, ...,     420000,     889950,
           659000])

In [154]:
y_teste = y_teste.astype(int)