## Amostragem I

In [1]:
import pandas as pd
import numpy as np

In [2]:
base = pd.read_csv('iris.csv')

In [3]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
base.shape

(150, 5)

In [12]:
np.random.seed(2345)
# a = números que quero gerar
# size = quantidade de números
# replace = indica que pode inserir valores iguais
# p = porcentagem que indica qual a quantidade eu posso ter de cada número
amostra = np.random.choice(a = [0,1], size = 150, replace = True, p = [0.5, 0.5])

In [9]:
len(amostra)

150

In [13]:
len(amostra[amostra==1])

80

In [14]:
len(amostra[amostra==0])

70

## Amostragem II - Estratificada

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
iris = pd.read_csv('iris.csv')

In [17]:
iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
iris['class'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: class, dtype: int64

**Iremos dividir e pegar apenas a metade de cada valor**

In [20]:
'''
Como estou separando pela classe, estou dividindo as informações. 
1) Pego somente as colunas de valores;
2) Pego a coluna que será utilizada para realizarmos a divisão
3) test_size -> informa qual a porcentagem que eu quero dividir a minha base
4) stratify -> utilizamos para fazer o estrato dos dados, a coluna que tem a classificação
'''
x, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4],
                              test_size = 0.5, stratify = iris.iloc[:, 4])

In [23]:
y.value_counts()

Iris-virginica     25
Iris-setosa        25
Iris-versicolor    25
Name: class, dtype: int64

In [29]:
infert = pd.read_csv('infert.csv')

In [30]:
infert.shape

(248, 9)

In [31]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

Se quisermos uma amostra, `de forma justa`, com 100 registros dos 248, do dataset podemos realizar o cálculo abaixo:
- 6-11yrs -> (valor / total_itens) * 100
- 12+ yrs -> (valor / total_itens) * 100
- 0-5yrs  -> (valor / total_itens) * 100 <br>

In [32]:
print((120 / 248) * 100)
print((116 / 248) * 100)
print((12 / 248) * 100)

48.38709677419355
46.774193548387096
4.838709677419355

In [38]:
# O traço significa que não queremos a outra parte da base de dados, vai carregar somente a amostra.
# a função train_test_split é usada para dividirmos o dataset em base de treinamento e teste
'''
Como estou separando pela classe, estou dividindo as informações. 
1) Pego somente as colunas de valores;
2) Pego a coluna que será utilizada para realizarmos a divisão, coluna da classificação.
3) test_size -> informa qual a porcentagem que eu quero dividir a minha base
4) stratify -> utilizamos para fazer o estrato dos dados, a coluna que tem a classificação
'''
x1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size=0.6, stratify=infert.iloc[:,1])

In [39]:
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

## Amostragem III - Sistemática

In [1]:
import pandas as pd
import numpy as np
from math import ceil

Utilizamos a função ceil() para arredondarmos os valores para cima.

In [52]:
populacao = 150
amostra = 15
k = ceil(populacao/amostra)

In [53]:
k

10

Definindo a aleatoriedade dos dados

In [62]:
r = np.random.randint(low=1, high = k + 1, size=1)

In [63]:
r

array([2])

In [64]:
acumulador = r[0]

In [65]:
sorteados = []

In [66]:
for i in range(amostra):
    #print(acumulador)
    sorteados.append(acumulador)
    acumulador += k

In [67]:
sorteados

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92, 102, 112, 122, 132, 142]

In [68]:
base = pd.read_csv('iris.csv')

In [69]:
base_final = base.loc[sorteados]

In [70]:
base_final

     sepal length  sepal width  petal length  petal width            class
2             4.7          3.2           1.3          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
72            6.3          2.5           4.9          1.5  Iris-versicolor
82            5.8          2.7           3.9          1.2  Iris-versicolor
92            5.8          2.6           4.0          1.2  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica