## Amostragem I

In [1]:
import pandas as pd
import numpy as np

In [2]:
base = pd.read_csv('iris.csv')

In [3]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
base.shape

(150, 5)

In [12]:
np.random.seed(2345)
# a = números que quero gerar
# size = quantidade de números
# replace = indica que pode inserir valores iguais
# p = porcentagem que indica qual a quantidade eu posso ter de cada número
amostra = np.random.choice(a = [0,1], size = 150, replace = True, p = [0.5, 0.5])

In [9]:
len(amostra)

150

In [13]:
len(amostra[amostra==1])

80

In [14]:
len(amostra[amostra==0])

70

## Amostragem II

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
iris = pd.read_csv('iris.csv')

In [17]:
iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
iris['class'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: class, dtype: int64

**Iremos dividir e pegar apenas a metade de cada valor**

In [20]:
'''
Como estou separando pela classe, estou dividindo as informações. 
1) Pego somente as colunas de valores;
2) Pego a coluna que será utilizada para realizarmos a divisão
3) test_size -> informa qual a porcentagem que eu quero dividir a minha base
4) stratify -> utilizamos para fazer o estrato dos dados, a coluna que tem a classificação
'''
x, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4],
                              test_size = 0.5, stratify = iris.iloc[:, 4])

In [23]:
y.value_counts()

Iris-virginica     25
Iris-setosa        25
Iris-versicolor    25
Name: class, dtype: int64

In [29]:
infert = pd.read_csv('infert.csv')

In [30]:
infert.shape

(248, 9)

In [31]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

Se quisermos uma amostra, `de forma justa`, com 100 registros dos 248, do dataset podemos realizar o cálculo abaixo:
- 6-11yrs -> (valor / total_itens) * 100
- 12+ yrs -> (valor / total_itens) * 100
- 0-5yrs  -> (valor / total_itens) * 100 <br>

In [32]:
print((120 / 248) * 100)
print((116 / 248) * 100)
print((12 / 248) * 100)

48.38709677419355
46.774193548387096
4.838709677419355

In [38]:
# O traço significa que não queremos a outra parte da base de dados, vai carregar somente a amostra.
# a função train_test_split é usada para dividirmos o dataset em base de treinamento e teste
'''
Como estou separando pela classe, estou dividindo as informações. 
1) Pego somente as colunas de valores;
2) Pego a coluna que será utilizada para realizarmos a divisão, coluna da classificação.
3) test_size -> informa qual a porcentagem que eu quero dividir a minha base
4) stratify -> utilizamos para fazer o estrato dos dados, a coluna que tem a classificação
'''
x1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size=0.6, stratify=infert.iloc[:,1])

In [39]:
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64