In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
base = pd.read_csv('iris.csv')

In [5]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
base['class'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: class, dtype: int64

In [13]:
X_treino, X_teste, y_treino, y_teste = train_test_split(base.iloc[:, 0:4], base.iloc[:, 4], 
                                                        stratify=base.iloc[:, 4], test_size=0.5)

In [17]:
y_treino.value_counts()

Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: class, dtype: int64

In [18]:
from sklearn import tree

E:\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [19]:
arvore = tree.DecisionTreeClassifier()

In [20]:
arvore.fit(X_treino,y_treino)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
resultado = arvore.predict(X_teste)
resultado

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [24]:
from sklearn import metrics
print(metrics.classification_report(y_teste,resultado))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        25
Iris-versicolor       0.91      0.80      0.85        25
 Iris-virginica       0.82      0.92      0.87        25

      micro avg       0.91      0.91      0.91        75
      macro avg       0.91      0.91      0.91        75
   weighted avg       0.91      0.91      0.91        75

In [27]:
X_teste.head(10)

     sepal length  sepal width  petal length  petal width
88            5.6          3.0           4.1          1.3
55            5.7          2.8           4.5          1.3
30            4.8          3.1           1.6          0.2
40            5.0          3.5           1.3          0.3
44            5.1          3.8           1.9          0.4
130           7.4          2.8           6.1          1.9
38            4.4          3.0           1.3          0.2
70            5.9          3.2           4.8          1.8
17            5.1          3.5           1.4          0.3
20            5.4          3.4           1.7          0.2

In [55]:
import numpy as np

In [52]:
dados = np.array([5.9, 3.4, 4, 1]).reshape(1,-1)
dados

array([[5.9, 3.4, 4. , 1. ]])

In [53]:
res1 = arvore.predict(dados)
res1

array(['Iris-versicolor'], dtype=object)

In [54]:
print(arvore.predict(dados)[0])

Iris-versicolor